@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">掲示板アプリ</h5>
        <p class="card-text">MVC学習のために作ってみた掲示板アプリ</p>
        <a asp-controller="Board" asp-action="Index" class="btn btn-primary">Go</a>
    </div>
</div>